/* public/style.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background: linear-gradient(to bottom right, #f8f3ff, #e7eafc);
  color: #4a148c;
  text-align: center;
}

.container {
  margin-top: 100px;
}

button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#loginBtn {
  background-color: #7e57c2;
}

#payBtn {
  background-color: #4caf50;
}

#statusMsg {
  margin-top: 30px;
  font-size: 16px;
  color: #d32f2f;
}
