body {
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(to bottom, #f8f3ff, #e7eafc);
  text-align: center;
  padding: 50px;
  color: #4a148c;
}
button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#loginBtn {
  background-color: #7e57c2;
  color: white;
}
#payBtn {
  background-color: #4caf50;
  color: white;
}
